html{
    font-size: 18px; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#background-image{
    background-image: url(img/starrynight.jpg);
    padding: 0;
    display: block;
    margin: 0px auto;
    background-size: cover;
    height: 100%;
    width: 100%;
}

header h1{
    position:relative;
    text-align: center;
    color: white;
    text-transform: uppercase;

    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    text-decoration: none;
    
}


a:hover{
    color: rgb(33, 67, 33);
}