*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#grid-container{
    display: grid;
    grid-template-areas: "header header header"
                            "navigering navigering navigering"
                            "main main aside"
                            "footer footer footer";


}

a{
    text-decoration: none;
}

aside nav ul li{
    text-decoration: none;
}
header{
    background-image: url('../img/water.jpg');
    background-size: cover;
    grid-area: header;
}

header h1{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;


}
nav{
    grid-area: navigering;
    

}

.navigering{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    width: 100%;
}

a:hover{
    text-decoration: underline;
}

main{
    grid-area: main;
    min-width: 400px;

}

.seksjon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.artiklene{
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    box-shadow: 13px 9px 20px 0px #efefef;
    border-radius: 4px;
    padding: 1rem;


}

aside{
    grid-area: aside;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-basis: 10%;
    flex-direction: column;

}

footer{
    grid-area: footer;
    background-color: rgb(61, 61, 61);
    color: white;
    width: 100%;


}

.siste-link{
    background-color: rgb(61, 61, 61);
    color: white;
}